# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#IDE
.idea
# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

environment.yml

#Model f
catboost_info

# test files
test
input

# files https://filedn.com/lK8J7mCaIwsQFcheqaDLG5z/data/Kaggle-interval-birth/
output/imputed_train1.pkl
output/imputed_test1.pkl
output/model.pkl

UserGuide2018-508.pdf
