alembic==1.13.1
catboost==1.2.3
cloudpickle==3.0.0
colorlog==6.8.2
contourpy==1.2.1
cycler==0.12.1
fonttools==4.51.0
greenlet==3.0.3
jupyter==1.0.0
jupyter-console==6.6.3
kiwisolver==1.4.5
lightgbm==4.3.0
llvmlite==0.42.0
mako==1.3.2
matplotlib==3.8.4
notebook==7.1.2
numba==0.59.1
optuna==3.6.1
pillow==10.3.0
plotly==5.20.0
pyparsing==3.1.2
python-graphviz==0.20.3
#python-modules==0.0.2
qtconsole==5.5.1
qtpy==2.4.1
scipy==1.13.0
shap==0.45.0
slicer==0.0.7
sqlalchemy==2.0.29
sweetviz==2.3.1
tenacity==8.2.3
tqdm==4.66.2
tzdata==2024.1
